* {
	padding: 0;
	margin: 0;
	box-sizing: boarder-box;
}

body {
	height: 100%;
	font-family: sans-serif;
}

.intro {
	width: 100%;
	height: 80vh;
	background-image: url("beverage-black-coffee-business-2312369.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
  -moz-background-size: cover;
	-o-background-size: cover;
	display: block;
	text-align: center;
}

.intro-text {
	padding: 10rem 0;
	left: 50%;
	color: white;
	width: 25%;
	height: 80%;
	size: 3vh;
}
.work {
	width: 100%;
	background-color: #505050;
	text-align: center;
	color: white;
}

.project {
	width: 49.8%;
	display: inline-block;
	text-align: center;
	height: 20rem;
	background-size: cover;
	background-position: center;
	-moz-background-size: cover;
	-o-background-size: cover;
	border-style: solid;
	border-width: 1px;
	border-color: #444444;
}

a {
	color: aliceblue;
	text-decoration: none;
}

#menu-bar {
	display: block;
	position: fixed;
	width: 100%;
	background-color: #242424;
	opacity: 0.9;
	transition: top 0.3s;
}

.side-menu {
	list-style-type: none;
	overflow: hidden;
	text-align: center;
	left: 50%;
}

.menu-direction {
  padding: 14px 16px;
	display: inline;
	float: left;

}


.menu-direction a:hover {
	color: #ccc2ba;
}

.menu-direction li:last-child {
	border-right: none;
}

.contact {
	display: block;
	position: center;
	text-align: center;
	height: 50vh;
	background-color: #242424;
	color: white;
	padding: 10vh 2rem;
}

.contact-description {
	max-width: 35ch;
	margin: 0 auto 1rem auto;
	padding: 0.25rem .25rem;
	display: block;
	text-align: center;
}

.contact-form-name, .contact-form-email, .contact-form-messege {
	display: block;
	width: 80%;
	font-size: 1rem;
  	margin: 0 auto 1rem auto;
	padding: 0.25rem .25rem;
	max-width: 35ch;
}

.contact-form-submit {
	display: block;
	width: 80%;
	background: transparent;
	border: 2px solid #fff;
	border-radius: 10px;
	margin: 0 auto 1rem auto;
	padding: 1rem 1rem;
	text-align: center;
	color: aliceblue;
	font-size: 1rem;
	max-width: 35ch;
}

.contact-form-submit:hover {
	color: wheat;;
	border: 2px solid wheat;
}

.profile {
	width: 100%;
	background-color: #505050;
	text-align: center;
	padding: 1.5rem 0rem;
}

.welcome-text {
	font-family: "Courier New", Courier, monospace;
	padding: 1rem;
	color: white;
	size: 3vh;
	width: 80%;
	height: auto;
	background-color: #242424;
	background: rgba(0, 0, 0, 0.7);
}

.profile-text {
	padding: 0.5rem 10%;
	color: white;
	width: 80%;
	font-size: 2.5vh;
}

.profile-image {
	border-radius: 50%;
	width: 15%;
	height: auto;
}

.info-socialLink {
	border-bottom: 2px solid #fff;
}

.info-socialLink:hover {
	color: wheat;
	border-bottom: 2px solid #000;
}

.otus-photo {
	max-width: 100%;
    max-height: 100%;
}

.projects {
	background-color: #505050;
	color: #fff;
}

.otus-site-project {
	background-image: url("otus-site.png");
	background-size: cover;
}

.otus-text {
	padding: 10%;
	width: 80%;
	height: auto;
}

.otus-site-project:hover {
	background-color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 1000px) {
	.projects {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.otus-site-project {
		grid-column: span 1;
		height: 40vh;
	}

	.otus-site-text {
		grid-column: span 1;
		height: 40vh;
	}

	.profile-sec {
		grid-column: span 1;
	}

	.profile-img-sec {
		grid-column: span 1;
	}
}
